#wrapwrap .s_icon_box {
    :is(#{$o-icon-selector}) {
        margin: 10px 20px;
        &:hover {
            transition: all 0.3s ease-in-out;
            color: o-color('gamma');
        }
    }
    .icon_box_content {
        overflow: hidden;
    }
}
